<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBAccess" value="R" />
    <add key="DB_Url" value="192.168.0.237,14233" />
    <add key="DB_ID" value="neo" />
    <add key="DB_PW" value="p@ssWord" />
    <add key="DB_Cat" value="PGS" />
    <add key="UserID" value="Admin" />
    <add key="PORT" value="COM1" />
    <add key="BAUD" value="9600" />
    <add key="DATABIT" value="8" />
  </appSettings>
</configuration>